---
title: Home
layout: top
---

{% include cs5220_head.html %}

<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h2>Overview</h2>
    <p>
      How do we solve the large-scale problems of science quickly on
      modern computers?  How do we measure the performance of new or
      existing simulation codes, and what things can we do to make
      them run faster?  How can we best take advantage of features
      like multicore processors, vector units, and graphics
      co-processors?  These are the types of questions we will address
      in CS 5220, Applications of Parallel Computers.  Topics include:
    </p>
    <ul>
      <li>Single-processor architecture, caches, and serial
          performance tuning</li>
      <li>Basics of parallel machine organization</li>
      <li>Distributed memory programming with MPI</li>
      <li>Shared memory programming with OpenMP</li>
      <li>Parallel patterns: data partitioning, synchronization, and
          load balancing</li>
      <li>Examples of parallel numerical algorithms</li>
      <li>Applications from science and engineering</li>
    </ul>
    <p>
      Because our examples will be drawn primarily from engineering
      and scientific computations, we will assume some prior exposure
      to numerical methods.  Students should also be able to read and
      write serial programs written in C or a related language like
      C++ or Java.  Prior exposure to parallel programming is not
      required, and non-CS students from fields involving simulation
      are particularly welcome!
    </p>

    <div class="media">
      <a class="pull-left" href="#">{% include intel.html %}</a>
      <div class="media-body">
        We gratefully acknowledge Intel for an 
        <a href="{{ site.baseurl }}/2015/06/25/intel.html">equipment grant</a> 
        in support of this course.
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h2><a href="posts.html">Posts</a></h2>
    {% for post in site.posts limit:10 %}
    <p class="hanging-indent">
      <strong>{{ post.date | date_to_string }}</strong> &raquo;
        <a href="{{ post.url }}">{{ post.title }}</a>
        {{ post.excerpt }}
    {% endfor %}
    <a class="btn" href="posts.html">All posts &raquo;</a>
  </div>

</div>
